.filter {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 111px;

  display: flex;
  gap: 14px;
}

.filter__saved {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 111px;

  display: flex;
  gap: 14px;
}

.filter__label {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.filter__checkbox {
  position: absolute;
  width: 1px;

  height: 1px;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  cursor: pointer;
}

.filter__visible-checkbox {
  display: block;
  min-height: 20px;
  width: 36px;
  cursor: pointer;
}

.filter__visible-checkbox {
  margin: 0;
  padding: 0;
}

.filter__checkbox:checked + .filter__visible-checkbox {
  background: url('../../images/checkbox-active.svg') center no-repeat;
}

.filter__checkbox + .filter__visible-checkbox {
  background: url('../../images/checkbox-inactive.svg') center no-repeat;
}

@media screen and (max-width: 1279px) {
  .filter {
    padding-bottom: 47px;
    flex-direction: row-reverse;
  }
  .filter__saved {
    padding-bottom: 47px;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 768px) {
  .filter {
    padding-top: 17px;
  }
  .filter__saved {
    padding-top: 17px;
  }
}
@media screen and (max-width: 767px) {
  .filter {
    padding-top: 30px;
    padding-bottom: 63px;
    justify-content: center;
  }
  .filter__saved {
    padding-top: 30px;
    padding-bottom: 63px;
    justify-content: center;
  }

  .filter__label {
    font-size: 11px;
  }
  @media screen and (max-width: 320px) {
    .filter {
      padding-top: 30px;
    }
    .filter__saved {
      padding-top: 41px;
    }
  }
}
